.p-types {
	$self: &;
	margin-bottom: 20px;

	&__title {

	}

	&__items {
		padding: 10px 10px 80px;
	}

	&__item {
		box-sizing: border-box;
		height: auto;
		
		&.hover {
			#{$self}__item-body {
				position: absolute;
				top: 0;
				width: 100%;
				height: auto;
				z-index: 10;
				background-color: #f0fcfc;
			}
			
			#{$self}__hidden {
				padding: 15px 0 5px;
				transition: max-height 0.3s linear, padding 0.1s linear;
				max-height: 80px;
			}
		}
		
	}
	
	&__item-body {
		background-color: #fff;
		box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
		box-sizing: border-box;
		padding: 40px 25px 25px;
		min-height: 100%;
		transition: background-color 0.2s;
	}

	&__subtitle {
		font-size: 35px;
		line-height: 1.2;
		margin-bottom: 5px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		&::after {
			display: block;
			content: '';
			width: 130px;
			height: 1px;
			background-color: #00BCD0;
			margin-left: 10px;
		}
	}
	
	&__price {
		font-size: 25px;
		line-height: 1.2;
		display: block;
		margin-bottom: 30px;
	}

	&__text {
		font-size: 16px;
		line-height: 1.4;
		margin-bottom: 0;
	}

	&__hidden {
		box-sizing: border-box;
		padding: 0;
		max-height: 0;
		overflow: hidden;
		align-items: center;
	}

	&__button {
		&.button {
			width: 100%;
			max-width: 370px;
		}
	}

	&__navi {
		display: flex;
		align-items: center;
		font-size: 20px;
		line-height: 1.1;
		position: absolute;
		bottom: 20px;
		right: 0;
		
		@include media('<=sm') {
			right: 50%;
			transform: translateX(50%);
		}
	}

	&__count {
		margin: 0 20px;
		white-space: nowrap;

		span {
			text-align: center;
			display: inline-block;
			min-width: 15px;			
		}
	}

	&__arr {
		@extend %reset-button;
		width: 30px;
		height: 30px;

		@include media('<=sm') {
			width: 60px;
		}		
		
		&_prev {
			left: 140px;
			background: url('#{$images-path}icons-sprite.svg#icon-arr-left-view-black') center left / 100px 17px no-repeat transparent;

			&:hover {
				background-image: url('#{$images-path}icons-sprite.svg#icon-arr-left-view-green')	
			}

			@include media('<=xxxlg') {
				left: 30px;
			}
		}
		
		&_next {
			right: 140px;
			background: url('#{$images-path}icons-sprite.svg#icon-arr-right-view-black') center right / 100px 17px no-repeat transparent;

			&:hover {
				background-image: url('#{$images-path}icons-sprite.svg#icon-arr-right-view-green')	
			}

			@include media('<=xxxlg') {
				right: 30px;
			}
		}
	}	
}
