.button {
	$self: &;
	@extend %reset-button;
	position: relative;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.06);
	font-family: "ML", sans-serif;
	border: 1px solid #fff;
	background-color: #fff;
	text-align: center;
	white-space: nowrap;
	padding: 15px 10px;
	line-height: 1.25;
	font-size: 20px;
	
	&::before {
		content: '';
		display: none;
		position: absolute;
		background-color: #00BCD0;
		height: 100%;
		width: 100%;
		z-index: 1;
		left: 0;
		bottom: 0; 
		@keyframes button_bg {
			from {}
			to { height: 3px; }
		}
		animation: button_bg 0.2s ease-out;
		animation-fill-mode: forwards;
	}

	&:hover::before {
		display: block;
	}

	span {
		position: relative;
		z-index: 2;
	}
	
	&:disabled {
		background-color: #efefef;
		border: 1px solid #efefef;
		cursor: auto;
		
		&:hover {
			background-color: #efefef;
			color: #000;
		}

		&:hover::before {
			display: none;
		}

		&:hover::after {
			transform: none;
		}
	}

	&_arr {
		border: 1px solid #00BCD0;
		padding: 20px;
		box-shadow: none;
		
		&::before {
			display: none !important;
		}

		&::after {
			vertical-align: middle;
			display: inline-block;
			transition: transform 0.3s ease;
			content: '';
			width: 45px;
			height: 30px;
			background: url('#{$images-path}icons-sprite.svg#icon-arr-right-view-black') center right / 177px 32px no-repeat transparent;
			margin-left: 15px;
			
			@include media('<=xxs') {
				margin-left: 10px;
			}
			
			@include media('<=xxxs') {
				display: none;
			}
		}

		&:hover {
			background-color: #00BCD0;
			color: #fff;

			&::after {
				background-image: url('#{$images-path}icons-sprite.svg#icon-arr-right-view-white');
				transform: translateX(20px);
			}
		}
	}
}