<header class="header @@if(this.class){@@class}"> 
	<div class="container">
		<div class="header__inner">
			<a class="header__logo" href="./"><img src="./images/logo-top.svg" alt=""></a>
			<nav class="header__navi">
				<a class="header__navi-link" href="./">О нас</a>
				<a class="header__navi-link" href="./">Наши клиенты</a>
				<a class="header__navi-link" href="./">Портфолио</a>
				<a class="header__navi-link" href="./">Новости</a>
				<a class="header__navi-link" href="./">Вакансии</a>
				<a class="header__navi-link" href="./">Контакты</a>
			</nav>
			<a class="header__phone" href="tel:+78126296097">+7 (812) 629-6097</a>
			<form class="header__search" action="./">
				<input type="text" placeholder="Поиск">
				<input type="submit" value="">
			</form>
			<a class="header__lang" href="./">EN</a>
		</div>
	</div>
</header> 
