<header class="header @@if(this.class){@@class}"> 
	<div class="container">
		<div class="header__inner">
			<a class="header__logo" href="./"><img src="./images/logo-top.svg" alt=""></a>
			<button class="header__menu-toggle"></button>
			<div class="header__menu">
				<nav class="header__navi">
					<a class="header__navi-link" href="./about.html">О нас</a>
					<a class="header__navi-link" href="./clients.html">Наши клиенты</a>
					<a class="header__navi-link" href="./portfolio.html">Портфолио</a>
					<a class="header__navi-link" href="./">Новости</a>
					<a class="header__navi-link" href="./vacancies.html">Вакансии</a>
					<a class="header__navi-link" href="./contacts.html">Контакты</a>
				</nav>
				<div class="header__menu-aux">
					<a class="header__phone" href="tel:+78126296097">+7 (812) 629-6097</a>
					<form class="header__search" action="./">
						<input type="text" placeholder="Поиск">
						<input type="submit" value="">
					</form>
					<a class="header__lang" href="./">EN</a>
				</div>
			</div>
		</div>
	</div>
</header> 
