<button class="p-menu__open" data-scroll-lock-fill-gap></button>
<nav class="p-menu">
	<div class="p-menu__container container" data-scroll-lock-scrollable data-scroll-lock-fill-gap>
		<div class="p-menu__inner">
			<button class="p-menu__close"></button>
			<a class="p-menu__link" href="./">Создание сайтов</a>
			<a class="p-menu__link" href="./">Реклама в интернете</a>
			<a class="p-menu__link" href="./">Реклама в соц сетях</a>
			<a class="p-menu__link" href="./">Оформление соц сетей</a>
			<a class="p-menu__link" href="./">Брендинг</a>
			<a class="p-menu__link" href="./">Поисковая оптимизация</a>
			<a class="p-menu__link" href="./">SMM</a>
			<a class="p-menu__link" href="./">Дизайн упаковки</a>
			<a class="p-menu__link" href="./">Настройка CRM</a>
			<a class="p-menu__link p-menu__link_lang" href="./">RU</a>
		</div>
	</div>
</nav>
