<div class="modal__hidden">
	<div id="contact-form">
		<form class="h-form h-form_modal" action="./">
			<h2 class="h-form__title title">Оставьте заявку чтобы начать проект</h2>
			<div class="h-form__fields">
				<div class="h-form__field">
					<label>Ваше имя</label>
					<input type="text" placeholder="Введите имя">
					<div class="h-form__field-error"><span>Поле обязательно для заполнения</span></div>
				</div>
				<div class="h-form__field">
					<label>Ваш email</label>
					<input type="text" placeholder="Введите почту">
					<div class="h-form__field-error"><span>Введите корректный адрес почты</span></div>
				</div>
				<div class="h-form__field">
					<label>Ваш телефон</label>
					<input type="tel" placeholder="Введите номер телефона">
					<div class="h-form__field-error"><span>Поле обязательно для заполенения</span></div>
				</div>
				<div class="h-form__field">
					<button class="button" type="submit">Начать проект</button>
				</div>
			</div>
			<div class="h-form__agree">
				<input class="h-form__agree-check" type="checkbox">
				<p class="h-form__agree-text">Согласен на обработку <a href="./">личных данных</a> и обратную коммуникацию Подтвердите обработку персональных данных</p>
			</div>
			<div class="h-form__agree-error"><span>Поле обязательно для заполенения</span></div>
		</form>
	</div>
	<div id="get-callback">
		<form class="m-callback" action="./">
			<div class="m-callback__field">
				<label>Ваше имя</label>
				<input type="text" placeholder="Введите имя">
				<div class="m-callback__field-error"><span>Поле обязательно для заполнения</span></div>
			</div>
			<div class="m-callback__field">
				<label>Ваш телефон</label>
				<input type="tel" placeholder="Введите номер телефона">
				<div class="m-callback__field-error"><span>Поле обязательно для заполенения</span></div>
			</div>
			<div class="m-callback__agree">
				<input class="m-callback__agree-check" type="checkbox">
				<p class="m-callback__agree-text">Согласен c <a href="./">политикой конфиденциальности</a></p>
			</div>
			<div class="m-callback__agree-error"><span>Поле обязательно для заполенения</span></div>
			<div class="m-callback__field">
				<button class="button" type="submit">Заказать звонок</button>
			</div>
		</form>
	</div>
</div>
