<section class="h-order">
	<div class="container">
		<div class="h-order__inner">
			<form class="h-order__form h-form" action="./">
				<h2 class="h-form__title title">Оставьте заявку чтобы начать проект</h2>
				<div class="h-form__fields">
					<div class="h-form__field">
						<label for="">Ваше имя</label>
						<input type="text" placeholder="Введите имя">
						<div class="h-form__field-error"><span>Поле обязательно для заполнения</span></div>
					</div>
					<div class="h-form__field">
						<label for="">Ваш email</label>
						<input type="text" placeholder="Введите почту">
						<div class="h-form__field-error"><span>Введите корректный адрес почты</span></div>
					</div>
					<div class="h-form__field">
						<label for="">Ваш телефон</label>
						<input type="tel" placeholder="Введите номер телефона">
						<div class="h-form__field-error"><span>Поле обязательно для заполенения</span></div>
					</div>
					<div class="h-form__field">
						<button class="button" type="submit">Начать проект</button>
					</div>
				</div>
				<div class="h-form__agree">
					<input class="h-form__agree-check" type="checkbox" checked>
					<p class="h-form__agree-text">Согласен на обработку <a href="./">личных данных</a> и обратную коммуникацию Подтвердите обработку персональных данных</p>
				</div>
				<div class="h-form__politic">Ваши личные данные будут использоваться для оперативной связи с Вами. Rocont обеспечивает защиту Ваших данных. Более подробную информацию смотрите по ссылке <a href="./">«Политика безопасности»</a></div>
			</form>
			<div class="h-order__side">
				<img class="h-order__img h-order__img_camp" src="./images/camp.svg" alt="">
				<img class="h-order__img h-order__img_cloud-left" src="./images/cloud-left.svg" alt="">
				<img class="h-order__img h-order__img_cloud-right" src="./images/cloud-right.svg" alt="">
			</div>
		</div>
	</div>
</section>