.h-blog {
	$self: &;
	margin-bottom: 100px;
	
	@include media('<=lg') {
		margin-bottom: 50px;
	}

	&__title {
		&.title {
			margin-bottom: 10px;
		}
	}

	&__inner {
		display: flex;
		
		@include media('<=md') {
			flex-wrap: wrap;
		}
	}

	&__slider {
		padding: 20px 5px;
	}

	&__item {
		box-sizing: border-box;
		padding: 43px 20px;
		box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.07);
		border-radius: 21px;
	}

	&__item-title {
		font-family: "MR", sans-serif;
		font-size: 20px;
		line-height: 1.2;
		margin-bottom: 10px;
	}

	&__text {
		font-size: 15px;
		line-height: 1.35;
		margin-bottom: 15px;
	}

	&__more {
		display: block;
		color: inherit;
		font-size: 12px;
		line-height: 1.1;
	}

	&__images {
		box-sizing: border-box;
		width: 500px;
		min-height: 330px;
		flex-shrink: 0;
		overflow: hidden;
		position: relative;
		
		@include media('<=xlg') {
			width: 300px;
		}
		
		@include media('<=lg') {
			min-height: auto;
		}
	}
	
	&__img {
		display: block;
		position: absolute;
		z-index: 2;

		&_cloud-left {
			top: 60px;			
			left: 80px;
			
			@include media('<=xlg') {
				left: 20px;
			}
		}
		
		&_cloud-right {
			top: 0;			
			right: 0;
			
			@include media('<=xlg') {
				right: -120px;
			}
		}

		&_plant {
			bottom: 0;
			right: 0;
			
			@include media('<=xlg') {
				right: -105px;
			}
		}

		@include media('<=md') {
			display: none;
		}
	}

	&__navi {
		display: flex;
		align-items: center;
		font-size: 20px;
		line-height: 1.1;
		position: absolute;
		bottom: 40px;
		left: 60px;
		
		@include media('<=md') {
			position: static;
			padding-top: 30px;
		}
	}

	&__count {

	}

	&__arr {
		@extend %reset-button;
		width: 50px;
		height: 30px;
		
		&_prev {
			left: 140px;
			background: url('#{$images-path}icons-sprite.svg#icon-arr-left-view-black') center / 24px 16px no-repeat transparent;

			@include media('<=xxxlg') {
				left: 30px;
			}
		}
		
		&_next {
			right: 140px;
			background: url('#{$images-path}icons-sprite.svg#icon-arr-right-view-black') center / 24px 16px no-repeat transparent;

			@include media('<=xxxlg') {
				right: 30px;
			}
		}
	}
}

