.breadcrumbs {
	$self: &;
	margin-bottom: 30px;

	&__inner {
		display: flex;
		flex-flow: row wrap;
		font-size: 16px;
	}

	&__item {
		margin-bottom: 10px;
		color: inherit;
		text-decoration: none;

		&::after {
			content: '-';
			display: inline-block;
			margin: 0 5px;
		}

		&_current {
			color: #00BCD0;

			&::after {
				display: none;
			}
		}
	}
}
