.m-callback {
	$self: &;

	&__field {
		margin-bottom: 8px;
		
		label {
			display: block;
			font-size: 15px;
			line-height: 1.1;
			margin-bottom: 3px;
		}
		
		input {
			@extend %reset-input;
			border: 1px solid #eee;
			padding: 18px 10px;
			width: 100%;

			&::placeholder {
				color: #cecece;
			}
		}

		button {

			&.button {
				border: 1px solid #eee;
				width: 100%;
				margin-top: 20px;
			}
		}
	}

	&__agree {
		padding-top: 20px;
		display: flex;
		align-items: center;
		font-size: 13px;
		line-height: 1.4;
	}

	&__agree-error {
		display: block;
		box-sizing: border-box;
		color: red;
		font-size: 13px;
		line-height: 1.1;
		padding-top: 8px;
		margin-bottom: -8px;

		span {
			display: block;
		}
	}

	&__agree-check {
		@extend %reset-input;
		margin: 0px 10px 0 0;
		display: block;
		width: 17px;
		height: 17px;
		flex-shrink: 0;
		border-radius: 3px;
		border: 1px solid black;
		background-color: #fff;
		cursor: pointer;

		&:checked {
			background: url('#{$images-path}icons-sprite.svg#icon-check-view-black') center / 10px 8px no-repeat #fff;
		}
	}

	&__agree-text {
		margin-bottom: 0;

		a {
			color: inherit;
		}
	}
	
	&__field-error {
		display: block;
		box-sizing: border-box;
		color: red;
		padding-top: 5px;
		font-size: 13px;
		line-height: 1.2;
		
		span {
			display: block;
		}
	}
}
