.h-order {
	$self: &;
	background-color: #f8f8f8;

	&__inner {
		display: flex;
	}

	&__form {
		box-sizing: border-box;
		width: 50%;
		display: flex;
		flex-flow: row wrap;
		align-content: flex-start;
		padding: 40px 0;
	}
	
	&__field {
		box-sizing: border-box;
		width: calc(50% - 38px);
		margin: 0 38px 25px 0;

		label {
			display: block;
			font-size: 15px;
			margin-bottom: 10px;
		}

		input[type="text"] {
			@extend %reset-input;
			color: #AFAFAF;
			padding: 20px 10px;
			background-color: #fff;
			box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.06);
			width: 100%;
			font-size: 14px;
		}

		input[type="submit"] {
			@extend %reset-button;
			padding: 15px 10px;
			background-color: #fff;
			box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.06);
			width: 100%;
			font-size: 20px;
			line-height: 1.25;
			margin-top: 33px;
		}
	}

	&__side {
		box-sizing: border-box;
		width: 50%;
		position: relative;

	}

	&__img {
		display: block;
		margin: 0 auto;

		&_camp {

		}

		&_cloud-left {
			position: absolute;
			top: 40%;
			left: 30%;
			width: 194px;
		}
		
		&_cloud-right {
			position: absolute;
			width: 155px;
			top: 10%;
			right: 15%;
		}
	}
}
