.p-achieve {
	$self: &;
	margin-bottom: 60px;

	&__title {

	}

	&__items {
		margin-bottom: 20px;
	}
	
	&__item {
		box-sizing: border-box;
	}

	&__image {
		display: block;
		height: 170px;
		margin-bottom: 15px;

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__item-title {
		font-family: "MR", sans-serif;
		font-size: 20px;
		margin-bottom: 15px;
	}

	&__item-text {
		font-size: 15px;
		line-height: 1.4;
	}

	&__navi {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		font-size: 20px;
		line-height: 1.1;
		
		@include media('<=sm') {
			justify-content: center;
		}
	}

	&__count {
		margin: 0 20px;
		white-space: nowrap;

		span {
			text-align: center;
			display: inline-block;
			min-width: 15px;			
		}
	}

	&__arr {
		@extend %reset-button;
		width: 30px;
		height: 30px;

		@include media('<=sm') {
			width: 60px;
		}		
		
		&_prev {
			left: 140px;
			background: url('#{$images-path}icons-sprite.svg#icon-arr-left-view-black') center left / 100px 17px no-repeat transparent;

			&:hover {
				background-image: url('#{$images-path}icons-sprite.svg#icon-arr-left-view-green')	
			}

			@include media('<=xxxlg') {
				left: 30px;
			}
		}
		
		&_next {
			right: 140px;
			background: url('#{$images-path}icons-sprite.svg#icon-arr-right-view-black') center right / 100px 17px no-repeat transparent;

			&:hover {
				background-image: url('#{$images-path}icons-sprite.svg#icon-arr-right-view-green')	
			}

			@include media('<=xxxlg') {
				right: 30px;
			}
		}
	}	
}