.footer {
	$self: &;
	background-color: #2E2E2E;
	color: #fff;
	font-family: "ML", sans-serif;
		
	@include media('<=sm') {
		padding: 40px 0 0;
	}

	&__top {
		box-sizing: border-box;
		padding: 15px 0;
		min-height: 130px;
		display: flex;
		align-items: center;

		@include media('<=md') {
			flex-wrap: wrap;
		}

		@include media('<=sm') {
			flex-flow: column nowrap;
		}
	}
	
	&__logo {

		@include media('<=sm') {
			margin-bottom: 30px;
		}
	}

	&__navi {
		display: flex;
		align-items: center;
		margin: 0 auto;

		@include media('<=md') {
			order: 1;
			width: 100%;
			justify-content: space-between;
		}

		@include media('<=sm') {
			display: block;
			margin-bottom: 40px;
		}
	}

	&__navi-link {
		padding: 10px 15px;
		color: #fff;
		text-decoration: none;
		font-size: 20px;
		line-height: 1.2;
		white-space: nowrap;
		
		@include media('<=md') {
			padding: 10px;
		}
		
		@include media('<=sm') {
			display: block;
			font-size: 15px;
			text-align: center;
		}
	}

	&__socials {
		margin: 0 auto;
		display: flex;

		@include media('<=lg') {
			display: none;
		}
		
		@include media('<=md') {
			display: flex;
		}
		
		@include media('<=sm') {
			order: 1;
			margin-bottom: 20px;
		}

		span {
			margin-right: 10px;
			white-space: nowrap;

			@include media('<=sm') {
				display: none;
			}
		}

		&_bottom {
			display: none;

			@include media('<=lg') {
				display: flex;
			}

			@include media('<=md') {
				display: none;
			}
		}
	}

	&__social {
		height: 22px;
		width: 30px;

		&_vk {
			background: url('#{$images-path}icons-sprite.svg#icon-soc-vk-view-white') center / 28px 15px no-repeat transparent;
		}
		
		&_fb {
			background: url('#{$images-path}icons-sprite.svg#icon-soc-fb-view-white') center / 20px 20px no-repeat transparent;
		}
		
		&_inst {
			background: url('#{$images-path}icons-sprite.svg#icon-soc-instagram-view-white') center / 20px 20px no-repeat transparent;
		}
	}

	&__up-btn {
		width: 50px;
		height: 100px;
		background: url('#{$images-path}icons-sprite.svg#icon-arr-up-long-view-white') center / 22px 93px no-repeat transparent;
		margin-left: auto;
		
		@include media('<=md') {
			background-position: center top;
			height: 80px;
		}

		@include media('<=sm') {
			display: none;
		}
	}

	&__divider {
		border: none;
		border-top: 1px solid #fff;
		margin: 0;

		@include media('<=sm') {
			display: none;			
		}
	}

	&__bottom {
		box-sizing: border-box;
		padding: 20px 0;
		min-height: 100px;
		display: flex;
		align-items: center;

		@include media('<=lg') {
			flex-wrap: wrap;
		}

		@include media('<=md') {
			justify-content: space-between;
		}

		@include media('<=sm') {
			flex-flow: column nowrap;
		}
	}

	&__contact {
		box-sizing: border-box;
		color: #fff;
		text-decoration: none;
		padding-left: 40px;
		max-width: 290px;
		min-height: 34px;
		font-size: 14px;
		line-height: 1.4;
		display: flex;
		align-items: center;
		margin-right: 30px;

		@include media('<=sm') {
			padding: 0;
			text-align: center;
			margin: 0 0 20px;
			background: none !important;		
		}
		
		&_adrs {
			background: url('#{$images-path}icons-sprite.svg#icon-smart-view-white') center left / 23px 30px no-repeat transparent;

			@include media('<=sm') {
				max-width: 270px;
			}
		}
		
		&_email {
			background: url('#{$images-path}icons-sprite.svg#icon-email-view-white') center left / 24px 24px no-repeat transparent;
		}
		
		&_phone {
			background: url('#{$images-path}icons-sprite.svg#icon-call-view-white') center left / 23px 23px no-repeat transparent;
			white-space: nowrap;
		}
	}

	&__bottom-wrap {
		display: flex;
		margin-left: auto;
		
		@include media('<=lg') {
			width: 100%;		
		}
		
		@include media('<=sm') {
			flex-flow: column nowrap;
		}
	}

	&__politics {
		color: #fff;
		margin: 0 25px 0 0;
		font-size: 15px;
		line-height: 1.2;
		
		@include media('<=lg') {
			margin: 40px auto 0;
		}
		
		@include media('<=sm') {
			text-align: center;
			margin: 0 auto 5px;
		}
	}
	
	&__copy {
		font-size: 15px;
		line-height: 1.2;
		
		@include media('<=lg') {
			margin: 40px auto 0;
		}
		
		@include media('<=sm') {
			text-align: center;
			margin: 0 auto;
		}
	}
}
