.h-benefits {
	$self: &;
	margin-bottom: 40px;

	&__title {

	}

	&__items {
		display: flex;
		flex-flow: row wrap;
		margin: 0 -30px;
	}

	&__item {
		box-sizing: border-box;
		margin: 0 30px 30px;
		font-size: 20px;
		line-height: 1.1;
		padding: 0 0 0 85px;
		min-height: 90px;
		background-repeat: no-repeat;
		background-position: top left;
		width: calc(100% / 4 - 60px);
		
		@include media('<=lg') {
			width: calc(100% / 2 - 60px);
		}
		
		@include media('<=xs') {
			width: calc(100% / 1 - 60px);
		}

		&_1 {
			background-image: url('./images/benefits-1.svg');
			padding-left: 75px;
		}
		
		&_2 {
			background-image: url('./images/benefits-3.svg');
		}
		
		&_3 {
			background-image: url('./images/benefits-2.svg');
		}
		
		&_4 {
			background-image: url('./images/benefits-4.svg');
			padding-left: 90px;
		}
	}
}
