.p-results {
	$self: &;

	&__title {

	}

	&__items {
		display: flex;
		flex-flow: row wrap;
		margin: 0 -10px;
	}
	
	&__item {
		display: flex;
		align-items: center;
		margin: 0 10px 80px;
		width: calc(100% / 3 - 20px);
		
		@include media('<=sm') {
			margin: 0 10px 50px;
			width: calc(100% / 2 - 20px);
		}
		
		@include media('<=xxs') {
			width: calc(100% / 1 - 20px);
		}
	}

	&__item-image {
		flex-shrink: 0;
		margin-right: 30px;
		width: 90px;
		
		@include media('<=md') {
			margin-right: 20px;
			width: 65px;
		}
		
		@include media('<=xs') {
			width: 50px;
			margin-right: 15px;
		}
		
		@include media('<=xxs') {
			margin-right: 30px;
			width: 65px;
		}
	}

	&__item-side {
		span {
			display: block;
			line-height: 1.3;
			white-space: nowrap;

			&:nth-child(1) {
				font-family: "MM", sans-serif;
				font-size: 20px;
				margin-bottom: 15px;
				
				@include media('<=xlg') {
					font-size: 15px;
					margin-bottom: 10px;
				}
		
				@include media('<=md') {
					margin-bottom: 5px;
				}
				
				@include media('<=xs') {
					font-size: 14px;
				}
		
				@include media('<=xxs') {
					font-size: 18px;
				}
			}
			
			&:nth-child(2) {
				font-family: "MM", sans-serif;
				font-size: 40px;
				color: #00BCD0;

				@include media('<=xlg') {
					font-size: 30px;
				}

				@include media('<=lg') {
					font-size: 28px;
				}
				
				@include media('<=md') {
					font-size: 23px;
				}
				
				@include media('<=xs') {
					font-size: 20px;
				}
		
				@include media('<=xxs') {
					font-size: 28px;
				}
			}
		}
	}
}
