.h-hero {
	$self: &;
	background-color: #f8f8f8;
	padding: 35px 0;
	margin-bottom: 60px;

	&__inner {
		max-width: 1920px;
		padding: 0;
	}

	&__slider {

	}

	&__item {
		box-sizing: border-box;
		display: flex;
		padding: 0 140px;
		overflow: hidden;
		position: relative;
		
		@include media('<=xxxlg') {
			padding: 0 30px;
		}
		
		@include media('<=xs') {
			padding: 0 15px;
		}

		&::before {
			display: block;
			content: '';
			position: absolute;
			right: -20px;
			top: 0;
			width: 150px;
			height: 2px;
			background-color: #222;

			@include media('<=md') {
				display: none;
			}
		}
		
		&::after {
			display: block;
			content: '';
			position: absolute;
			bottom: 30%;
			right: 10%;
			width: 150px;
			height: 2px;
			background-color: #222;

			@include media('<=md') {
				display: none;
			}
		}
	}

	&__side {
		width: 50%;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		padding: 75px 0 70px;
		position: relative;
		z-index: 2;
		
		@include media('<=lg') {
			width: 60%;
		}
		
		@include media('<=md') {
			width: 80%;
		}
		
		@include media('<=sm') {
			width: 100%;
		}
	}
	
	&__title {
		box-sizing: border-box;
		position: relative;
		font-family: "MR", sans-serif;
		font-size: 40px;
		line-height: 1.1;
		max-width: 520px;
		margin-bottom: 25px;

		&::before {
			content: '';
			display: block;
			height: 1px;
			width: 150px;
			background-color: #00bcd0;
			position: absolute;
			top: 23px;
			left: -165px;
			z-index: 2;
			
			@include media('<=xxxlg') {
				left: -155px;
			}
		}
	}

	&__text {
		font-size: 20px;
		line-height: 1.3;	
		margin-bottom: 25px;
	}
	
	&__button {
		position: relative;
		display: block;
		padding: 20px;
		max-width: 240px;
		
		@include media('<=xxs') {
			max-width: none;
		}
	}
	
	&__img {
		display: block;
		position: absolute;
		
		&_town {
			min-width: 455px;
			bottom: 0;
			right: 15%;
			transform: translateX(15%);
			
			@include media('<=md') {
				bottom: auto;
				top: 0;
				right: 20px;
			}
		
			@include media('<=sm') {
				display: none;
			}
		}
		
		&_human {
			min-width: 245px;
			bottom: 2px;
			right: 20%;
			transform: translateX(20%);

			@include media('<=md') {
				display: none;
			}
		}
	}

	&__navi {
		position: absolute;
		z-index: 1;
		bottom: 0;
		left: 140px;
		width: calc(100% - 280px);
		height: 32px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include media('<=xxxlg') {
			left: 30px;
			width: calc(100% - 60px);
		}
		
		@include media('<=sm') {
			width: auto;
		}
		
		@include media('<=xxs') {
			width: calc(100% - 60px);
			justify-content: center;
		}
	}

	&__count {
		display: none;
		font-size: 20px;
		line-height: 1.2;
		margin: 0 20px;

		@include media('<=sm') {
			display: block;
		}
	}

	&__arr {
		@extend %reset-button;
		width: 50px;
		height: 32px;

		@include media('<=sm') {
			width: 60px;
			height: 30px;
			background-size: 100px 17px !important;
		}
		
		&_prev {
			left: 140px;
			background: url('#{$images-path}icons-sprite.svg#icon-arr-left-view-black') center left / 177px 32px no-repeat transparent;

			&:hover {
				background-image: url('#{$images-path}icons-sprite.svg#icon-arr-left-view-green')	
			}

			@include media('<=xxxlg') {
				left: 30px;
			}
		}
		
		&_next {
			right: 140px;
			background: url('#{$images-path}icons-sprite.svg#icon-arr-right-view-black') center right / 177px 32px no-repeat transparent;

			&:hover {
				background-image: url('#{$images-path}icons-sprite.svg#icon-arr-right-view-green')	
			}

			@include media('<=xxxlg') {
				right: 30px;
			}
		}
	}
}
