.h-hero {
	$self: &;
	background-color: #f8f8f8;
	padding: 35px 0;
	margin-bottom: 60px;

	&__inner {
		max-width: 1920px;
		padding: 0;
	}

	&__slider {

	}

	&__item {
		box-sizing: border-box;
		display: flex;
		padding: 0 140px;
		overflow: hidden;
		
		@include media('<=xxxlg') {
			padding: 0 30px;
		}
	}

	&__side {
		width: 50%;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		padding: 75px 0 70px;
	}
	
	&__title {
		box-sizing: border-box;
		position: relative;
		font-family: "MR", sans-serif;
		font-size: 40px;
		line-height: 1.1;
		max-width: 520px;
		margin-bottom: 25px;

		&::before {
			content: '';
			display: block;
			height: 1px;
			width: 150px;
			background-color: #00bcd0;
			position: absolute;
			top: 23px;
			left: -165px;
			z-index: 2;
			
			@include media('<=xxxlg') {
				left: -155px;
			}
		}
	}

	&__text {
		font-size: 20px;
		line-height: 1.3;	
		margin-bottom: 25px;
	}
	
	&__button {
		box-sizing: border-box;
		display: block;
		background-color: #fff;
		box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.06);
		padding: 20px;
		font-size: 20px;
		line-height: 1.1;
		color: inherit;
		text-decoration: none;
		text-align: center;
		max-width: 240px;
	}
	
	&__image {
		width: 50%;
		padding-top: 40px;
		position: relative;

		&::before {
			display: block;
			content: '';
			position: absolute;
			right: -20px;
			top: 0;
			width: 150px;
			height: 2px;
			background-color: #222;
		}
		
		&::after {
			display: block;
			content: '';
			position: absolute;
			bottom: 33%;
			right: 10%;
			width: 150px;
			height: 2px;
			background-color: #222;
		}

		img {
			display: block;
			margin: 0 auto;
		}
	}

	&__navi {
		position: absolute;
		z-index: 1;
		bottom: 0;
		left: 140px;
		width: calc(100% - 280px);
		height: 32px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include media('<=xxxlg') {
			left: 30px;
			width: calc(100% - 60px);
		}

		@include media('<=sm') {
			width: auto;
		}
	}

	&__count {
		display: none;
		font-size: 20px;
		line-height: 1.2;
		margin: 0 20px;

		@include media('<=sm') {
			display: block;
		}
	}

	&__arr {
		@extend %reset-button;
		width: 50px;
		height: 32px;
		opacity: 0.7;

		@include media('<=sm') {
			width: 60px;
			height: 30px;
			background-size: 100px 16px !important;
		}
		
		&_prev {
			left: 140px;
			background: url('#{$images-path}icons-sprite.svg#icon-arr-left-view-black') center left / 177px 31px no-repeat transparent;

			@include media('<=xxxlg') {
				left: 30px;
			}
		}
		
		&_next {
			right: 140px;
			background: url('#{$images-path}icons-sprite.svg#icon-arr-right-view-black') center right / 177px 31px no-repeat transparent;

			@include media('<=xxxlg') {
				right: 30px;
			}
		}
	}
}
