.p-contacts {
	$self: &;
	margin-bottom: 50px;

	&_charted {

		#{$self}__inner {
			display: flex;
			justify-content: space-between;
	
			@include media('<=lg') {
				display: block;
			}
		}
			
		#{$self}__map {
			box-sizing: border-box;
			background: url('./images/p-contacts-map-bg.jpg') center / auto no-repeat transparent;
			min-height: 440px;
			flex-grow: 1;
			margin-right: 50px;
			position: relative;
			overflow: hidden;

			ymaps[class$="ground-pane"] {
				filter: saturate(0.0);
			}
	
			ymaps[class$="copyrights-pane"] {
				display: none;
			}
				
			@include media('<=lg') {
				margin: 0 0 40px 0;
			}
		}
	
		#{$self}__flyer {
			box-sizing: border-box;
			width: 60%;
			max-width: 630px;
			border-radius: 21px;
			position: absolute;
			z-index: 10;
			top: 50%; left: 8%;
			transform: translateY(-50%);
			background-color: #fff;
			padding: 40px 60px 30px;
			text-align: center;
	
			@include media('<=lg') {
				left: 4%;
			}
			
			@include media('<=xlg') {
				padding: 30px 30px 40px;
				max-width: 450px;
			}
			
			@include media('<=lg') {
				left: 6%;
			}
			
			@include media('<=sm') {
				left: 8%;
			}
			
			@include media('<=xs') {
				top: auto;
				left: 50%;
				bottom: 40px;
				transform: translate(-50%, 0);
				width: calc(100% - 80px);
				max-width: 350px;
				border-radius: 15px;
				padding: 20px;
			}
		}
	
		#{$self}__come {
			text-align: center;
			line-height: 1.3;
			margin-bottom: 30px;
	
			span:nth-child(1) {
				display: block;
				font-size: 40px;
				margin-bottom: 10px;
				
				@include media('<=xlg') {
					font-size: 30px;
				}
				
				@include media('<=xs') {
					font-size: 23px;
				}
			}
	
			span:nth-child(2) {
				display: block;
				font-size: 20px;
				
				@include media('<=xlg') {
					font-size: 14px;
				}
				
				@include media('<=xs') {
					font-size: 11px;
				}
			}
			
			@include media('<=xlg') {
				margin-bottom: 20px;
			}
		}
	
		#{$self}__go {
			display: block;
			width: 100%;
			
			@include media('<=xs') {
				padding: 7px;
				width: 100%;
				max-width: 250px;
				margin: 0 auto;
				font-size: 14px;
	
				&::after {
					width: 25px;
					background-size: 80px 15px;
				}
			}
		}
	}

	&__title {

	}

	&__inner {
		display: flex;
		justify-content: space-between;

		@include media('<=sm') {
			display: block;
		}
	}

	&__text {
		box-sizing: border-box;
		max-width: 930px;
		font-size: 16px;
		line-height: 1.4;
		padding-right: 50px;
		
		@include media('<=lg') {
			width: 55%;
			flex-shrink: 1;
		}

		@include media('<=sm') {
			width: auto;
			margin-bottom: 40px;
			padding: 0;
			font-size: 16px;
		}
	}
	
	&__side {
		width: 500px;
		flex-shrink: 0;
		
		@include media('<=lg') {
			width: 45%;
			flex-shrink: 1;
		}

		@include media('<=sm') {
			width: auto;
		}
	}

	&__entry {
		display: block;
		box-sizing: border-box;
		max-width: 430px;
		font-size: 16px;
		line-height: 1.4;
		color: inherit;
		text-decoration: none;
		display: flex;
		align-items: center;
		min-height: 50px;
		margin-bottom: 20px;
		padding-left: 40px;

		&_adrs {
			background: url('#{$images-path}icons-sprite.svg#icon-smart-view-black') center left / 26px 32px no-repeat transparent;
		}

		&_phon {
			background: url('#{$images-path}icons-sprite.svg#icon-call-view-black') center left / 25px 25px no-repeat transparent;
			white-space: nowrap;
		}
		
		&_mail {
			background: url('#{$images-path}icons-sprite.svg#icon-email-view-black') center left / 25px 25px no-repeat transparent;
		}
	}

	&__callback {
		width: 100%;
		max-width: 300px;
	}
}
