.h-clients {
	$self: &;
	margin-bottom: 60px;

	&__title {

	}

	&__inner {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;		
		
		@include media('<=md') {
			flex-flow: row nowrap;
			overflow: auto;
		}
	}
	
	&__item {
		padding: 10px;
		text-align: center;
		
		@include media('<=md') {
			min-width: 180px;
		}
	}
}
